body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-weight: 500 !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #000 !important;
  color: #fff !important;
}

.ant-select-dropdown {
  color: #000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-motion * {
  transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.quill-editor {
  display: flex;
  flex-direction: column;
}

.quill-editor .ql-container {
  flex: 1;
  min-height: 400px;
  height: auto;
}

.quill-editor .ql-editor {
  min-height: 400px;
  height: auto;
  max-height: none;
  overflow-y: auto;
}

.ant-menu-item {
  display: flex !important;
  align-items: center !important;
  font-weight: 500 !important;
}

.ant-menu-submenu-title {
  color: #000 !important;
  display: flex !important;
  align-items: center !important;
}

.ant-select-tree-node-selected {
  background-color: #000 !important;
  color: #fff !important;
}
.ant-tree-node-selected {
  background-color: #fff !important;
  color: #000 !important;
}

:where(.css-dev-only-do-not-override-98i6hw).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell {
  background-color: #e5e5e5 !important;
}

:where(.css-dev-only-do-not-override-98i6hw).ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  .ant-tree-list-holder-inner {
  background-color: #e5e5e5 !important;
}
